<ul class="list-group">
    <li class="list-group-item" *ngFor="let book of bookList">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-sm-2">
                    <img [attr.src]=book.volumeInfo.imageLinks.thumbnail class="img-fluid">
                </div>

                <div class="col-xs-8 col-sm-9">
                    <h3>{{ book.volumeInfo.title }}</h3>
                    <p>
                        Author(s): {{ book.volumeInfo.authors.join(", ") }}
                    </p>
                    <p>
                        {{ book.volumeInfo.description }}
                    </p>
                    <a class="btn btn-primary mr-3" target="_blank" [attr.href]=book.volumeInfo.infoLink>View Book</a>

                    <button class="btn btn-primary">Save Book</button>
                </div>
            </div>
        </div>
    </li>

    <!-- <li class="list-group-item">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-sm-2">
                    <img src="https://cdn.pixabay.com/photo/2017/06/12/17/54/anemone-2396299__340.jpg" class="img-fluid">
                </div>

                <div class="col-xs-8 col-sm-9">
                    <h3>book title</h3>
                    <p>
                        Author(s):
                    </p>
                    <p>
                        book description
                    </p>
                    <a class="btn btn-primary mr-3" target="_blank" href="#">View Book</a>

                    <button class="btn btn-primary">Save Book</button>
                </div>
            </div>
        </div>
    </li> -->
</ul>